.modale {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.5s both;
}

.js-modal-close {
  border: none;
  width: 100%;
  height: 1em;
  color: black;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.fa-xmark {
  font-size: 1.2em;
}

.titleModale {
  display: flex;
  justify-content: center;
  font-family: "Syne";
  font-weight: 200;
  font-size: 25px;
  color: black;
}

.modale[aria-hidden="true"] {
  animation-name: fadeOut;
}

.modale[aria-hidden="true"] .modale-wrapper {
  animation-name: slideFromBottom;
}

.modale-wrapper {
  width: 500px;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);
  padding: 20px;
  background-color: white;
  overflow: auto;
  animation: slideFromTop 0.5s both;
}

.modaleGallery {
  width: 100%;
  display: grid;
  grid-template-columns: 6em 6em 6em 6em 6em;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.carteImage {
  position: relative;
}

.modaleGallery img {
  width: 100%;
  z-index: 2;
}

.imgDelete {
  border: none;
  border-radius: 5px;
  z-index: 1;
  position: absolute;
  background-color: black;
  width: 25px;
  height: 25px;
  margin-top: 1%;
  transform: translate(220%);
}

.fa-trash-can {
  color: white;
}

.modaleForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.modaleForm input,
label,
select {
  display: flex;
  justify-content: center;
  height: 20px;
  font-size: 1.2em;
  width: 80%;
  margin: 2%;
  background-color: white;
  border: none;
}

.modaleFormMainTitle {
  font-weight: 200;
  font-size: 25px;
  color: black;
  margin: 5%;
}

.modaleFormTitle {
  justify-content: left;
}

input#image {
  height: 50px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.modaleForm div {
  width: 80%;
  border-top: solid 1px grey;
  display: flex;
  justify-content: center;
  margin: 2%;
}

#btnAjoutPhoto {
  width: 50%;
  height: 3em;
  border-radius: 20px;
  background-color: grey;
  color: white;
  margin: 5%;
}

.modalNav {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
}

.modal-retour {
  border: none;
  background-color: white;
  display: none;
}

.menuModale1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#image-preview {
  width: 35%;
}

.ajouterPhotos {
  background-color: #1d6154;
  color: white;
  width: 55%;
  height: 3em;
  border-radius: 20px;
  margin-bottom: 2%;
  cursor: pointer;
}

.supprimerGalerie {
  border: 0;
  color: red;
  background-color: white;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideFromTop {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideFromBottom {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(50px);
  }
}
